html {
	font-family: 'Open Sans Condensed', sans-serif;	font-size: 60%;
	background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSsf4zBblXjCyFk_9e_X_GVGsv5R9eJPgnZsUiDfpiS7fg-TXCx)
}

* {
	box-sizing: border-box;
}

/*________NAVIGATION BAR STYLING__________________*/

.navigation-bar {
	color: white;
	background-color: #6ed3cf;
	height: 52px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.nav-options {
	height: 5.3rem;
	padding: 14px 16px;
	font-size: 2rem;
	text-decoration: none;
	font-weight: bold;
	display: block;
	float: left;
	border-right: 2px solid white;
}

a.nav-options:hover {
	background-color: #e62739;
}

/*________PROFILE IMAGE STYLING__________________*/

.profile-image-container{
	text-align: center;
	margin-bottom: 20px;
}

.profile-image{
	border-radius: 50%;
	border: 10px solid #e3e3e3;
	height: 34rem;
	margin-top: 70px;
}

/*________MAIN INFORMATION STYLING__________________*/

.home-title {
	text-align: center;
	background-color: #e62739;
	margin: 0 auto;
	line-height: 4rem;
	font-weight: bold;
	width: 95%;
	padding: 1rem;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.info-container {
	background-color:#e1e8f0;
	margin:0 auto;
	min-height: 300px;
	height:auto;
	padding: 1rem;
	width:95% ;
}

.home-info {
	text-align: justify;
	padding:20px;
	font-size: 20px;
	margin: 0;
	padding:10px;
}

#SkypeButton_Call_luisplaz_1 {
	text-align: center;
}

.resume{
	text-align: center
}

.resume_download{
	text-decoration: none;
	color:#e62739;
	width: 100%;
	display: inline-table;
}

/*________FOOTER INFORMATION STYLING__________________*/

footer {
	text-align: center;
	padding: 20px;
}

footer span {
	text-align: center;
	margin: 0 auto;
}

.fa {
	color: #e62739;
	padding-right: 0.5rem;
	font-size: 3em;
}

i.fa:hover {
	color: #6ed3cf;
	background-color: white;
}

.home-footer {
	text-align: center;
}

/*________WELCOME PAGE STYLING__________________*/

.welcome-title{
	font-weight: bold;
	text-align: center;
	font-size: 3rem;
}

.welcome-info{
	text-align: center;
}

/*________RESUME PAGE STYLING__________________*/

.curriculum-title {
	font-weight: bold;
	color:#e62739;
}

p .curriculum-sub-title {
	font-weight: bold;
	color:#173e43;
	width: 100%;
	margin-top: 3%;
}

.icon-horizontal {
	width: 15rem;
	height: 8rem;
	padding:0px 10px 10px 0px;
	margin-right: 100%;
	margin-bottom: -6%;
	margin-top: 1%;
}

.icon-vertical {
	width: 11rem;
	height: 11rem;
	padding:0px 10px 10px 0px;
	margin-right: 100%;
	margin-bottom: -5%;
}

.resume-info {
	text-align: left;
}

.resume-info li{
	line-height: 3.5rem;
	width: 95%;
	text-align: justify;
}

.skills{
	margin-bottom: 5%;
}
/*________PROJECTS PAGE STYLING__________________*/

.box {
	display: none;
	width: 100%;
	width = 500px;
	height = 1000px;
}

.projects-info {
	margin: auto;
	text-align: center;
	border: none;
	float: none;
	background-color: #e62739;
	margin-bottom: 2rem
}

a:hover + .box,.box:hover {
	display: block;
	position: relative;
	z-index: 100;
}

/*________MISC STYLING__________________*/

.float-right {
	float: right;
}

.no-border {
	border:none;
}

.debugg-border {
	border: 3px solid red;
}

/*______DONE_____________*/

a {
	color:white;
}

iframe {
	width:100%;
	height:500px;
}

h1 {
	font-size: 2.6rem;
}

p {
	font-size: 2rem;
}


.text-link{
	text-decoration: none;
	color: #e62739;
}

/*________MOBILE STYLING__________________*/


@media (max-width: 480px) {
	/* For mobile phones: */

	.navigation-bar {
		height: 44px;
	}

	.nav-options {
		font-size: 1.3rem;
		height: 4.6rem;
	}

	.fa {
		padding-right: 0.5rem;
	}

	.profile-image{
		height: 20rem;
	}

	.text-link{
		text-decoration: none;
		color: #e62739;
	}

	/*________MOBILE STYLING__________________*/


	@media (max-width: 480px) {
		/* For mobile phones: */

		.navigation-bar {
			height: 44px;
		}

		.nav-options {
			font-size: 1.3rem;
			height: 4.6rem;
		}

		.fa {
			padding-right: 0.5rem;
		}

		.profile-image{
			height: 20rem;
		}

		.home-title {
			font-size: 1.5rem;
		}

		.welcome-title{
			font-size:2rem
		}

		.welcome-info{
			font-size: 1.5rem
		}

		.resume_download{
			font-size: 1.5rem
		}

		.home-info p {
			font-size: 1.5rem
		}

		.fa {
			font-size: 2rem;
		}

		ul{
			padding-left: 2rem;
			padding-right: 3rem;
		}

		li {
			padding-left: initial;
		}

		.resume-info {
			text-align: left;
		}

		.resume-info li{
			font-size: 1.5rem
		}

		.curriculum-title {
			font-size: 2rem;
			margin-bottom: -2px;
			margin-top: -14%;
		}

		.curriculum-sub-title {
			width: 20rem;
		}

		p .curriculum-sub-title {
			margin-top: 14%;
		}

		ul li:last-of-type {
			margin-bottom: -3%;
		}

		.skills {
			margin-bottom: 16%;
		}

		.icon-horizontal {
			width: 14rem;
			height: 7rem;
			padding: 1rem;
			padding-left: 0px;
			margin-bottom: -23%;
			margin-right: 5rem;
		}

		.icon-vertical {
			width: 9rem;
			height: 9rem;
			padding:1rem;
			padding-left: 0px;
			margin-bottom: -4.5rem;
			margin-right: 8rem;
		}

		body {
			margin-left: 0;
		}
	}